__pycache__/
*.py[cod]
.Rhistory
.RData
.Rproj.user/
renv/
*.rds
*.RData
# Exclude heavy rds and RData files from data folders, but ALLOW tracking CSV files
**/data/*.rds
**/data/*.RData
**/data/*.Rdata
**/data/*.RDATA
